{% extends 'base/base.html' %}

{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>PERIODO</th>
                    <th>DÍAS LABORABLES</th>
                    <th>FECHA EMISIÓN</th>
                </tr>
            </thead>
            <tbody>
                {% for periodo in periodos %}
                    <tr>
                        <td>
                            <a href="{% url 'ver_roles' periodo.pk %} ">
                                {{ periodo }}
                            </a>
                        </td>
                        <td>{{ periodo.max_dias }}</td>
                        <td>{{ periodo.fecha_emision }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}